<div class="root standalone-tweet ltr twitter-tweet not-touch" dir="ltr" data-dt-months="Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec" data-dt-full="%{hours12}:%{minutes} %{amPm} - %{day} %{month} %{year}" data-dt-am="AM" data-dt-pm="PM" id="twitter-widget-1" lang="en" data-twitter-event-id="0">
  <blockquote class="tweet subject expanded h-entry">
    <div class="header h-card p-author">
    <a class="u-url profile" href="https://twitter.com/{{user.screen_name}}" aria-label="{{user.name}} (screen name: {{user.screen_name}})">
      <img class="u-photo avatar" alt="" src="{{user.profile_image_url}}">
    <span class="full-name">
      <span class="p-name customisable-highlight">{{user.name}}</span>
    </span>
    <span class="p-nickname" dir="ltr">@<b>{{user.screen_name}}</b></span>
    </a>
    </div>
    <div class="content e-entry-content">
      <p class="e-entry-title">{{text}}</p>
      <div class="dateline">
        <time pubdate="" class="dt-updated" title="{{date}}">{{date}}</time>
      </div>
    </div>
  </blockquote>
</div>